@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Rubik&display=swap');

:root {
    --text: hsl(203, 25%, 89%);
    --background: hsl(203, 16%, 8%);
    --primary: hsl(203, 16%, 16%);
    --secondary: hsl(203, 30%, 72%);
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

#search-container {
    top: 0;
    position: fixed;
    padding: 1.5em 100%;
    background-color: var(--background);
    margin: 0;
}

#search {
    background-color: var(--primary);
    font-size: medium;
    padding: 0.6em 1.2em;
    color: var(--text);
    border-radius: 1em;
    border: 0;
}

#data {
    margin-top: 6em;
}

td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.rl100TypeLong {
    text-align: right;
}

#footer-not-all-entries {
    display: none;
    font-size: small;
    text-align: center;
    color: var(--secondary);
}

input {
  outline: none;
}

.showAllButton {
    background-color: transparent;
    border-width: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
}