@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Rubik&display=swap');

:root {
    --text: #cad8e2;
    --background: #121619;
    --primary: #222a2f;
}

body {
    background-color: var(--background);
    color: var(--text);

    font-family: 'Roboto', sans-serif;
}

#search-container {
    top: 0;
    position: fixed;
    padding: 2em 100%;
    background-color: var(--background);
    margin: 0;
}

#search {
    background-color: var(--primary);
    /* size: 1.5em; */
    font-size: medium;
    padding: 0.6em 1.2em;
    color: var(--text);
    border-radius: 1em;
    border: 0;
}

#data {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 1.5em;
}

@media (max-width: 256px) {
    .entry {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
    }
}

@media (min-width: 257px) {
    .entry {
        display: flex;
        gap: 1em;
    }
}


.entry p {
    margin: 0;
    padding: 0;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}