@font-face {
    font-family: Roboto;
    src: url('./fonts/RobotoVariable.ttf');
}

:root {
    --text: hsl(203, 25%, 89%);
    --background: hsl(203, 16%, 8%);
    --primary: hsl(203, 16%, 16%);
    --secondary: hsl(203, 30%, 72%);
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

#main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

a {
    color: var(--text);
}

.bold {
    font-weight: bold;
}
