@media (min-width: 910px) {
    #glossary-content {
        width: 900px;
    }
}

h2 {
    margin-top: 2em;
}

#glossary-content ul {
    margin-top: 0;
}

#glossary-content li {
    padding: 0.3em;
}

.abbreviation-entry {
    border: solid 0.1em;
    border-radius: 0.5em;
    padding: 0.4em;
    margin: 0.2em;
    display: inline-block;
}

.abbreviation-entry h3 {
    margin: 0;
}

.abbreviation-entry p {
    margin: 0;
}

.capitalLetter {
    font-weight: bold;
    font-size: larger;
}
