#search-container {
    top: 0;
    position: fixed;
    padding: 1.5em 100%;
    background-color: var(--background);
    margin: 0;
}

#search {
    background-color: var(--primary);
    font-size: medium;
    padding: 0.6em 1.2em;
    color: var(--text);
    border-radius: 1em;
    border: 0;
}

#data {
    margin: 6em 1.5em 0;
}

td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.rl100Code a {
    white-space: pre;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.rl100TypeLong {
    text-align: right;
}

.inactive {
    text-decoration: line-through;
    color: var(--secondary);
}

.hint-text {
    font-size: small;
    color: var(--secondary);
}

#footer-not-all-entries {
    display: block;
    text-align: center;
}

#footer-not-all-entries p {
    margin-bottom: 0;
}

input {
    outline: none;
}

#showAllButton {
    background-color: transparent;
    border-width: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
}

footer {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
